#arrow {
    border: 1px solid red;
    height: 50px;
    width: 120px;
    position: fixed;
    top: 77px;
    left: -20px;
}

#rules { 
    color: rgb(255, 252, 64);
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;
}
img {
    margin-bottom: 5px;

}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
}

.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.jemJunk {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    margin: 15px 0px 15px 0px;
    text-shadow:
		-1px -1px 0 #9ecaed,
		1px -1px 0 #9ecaed,
		-1px 1px 0 #9ecaed,
        1px 1px 0 #9ecaed;
}

#grad {
    background-image: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet);
      
}
body {
    padding-bottom: 90px;
}
@media only screen and (max-width: 500px) {
    .jemJunk {
      margin-left: 0px;
      margin-right: 0px;
    }
  }