#rules { 
    color: cyan;
}
img {
    margin-bottom: 5px;

}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
}

.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.jemJunk {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    text-shadow:
		-1px -1px 0 #9ecaed,
		1px -1px 0 #9ecaed,
		-1px 1px 0 #9ecaed,
        1px 1px 0 #9ecaed;
        margin-top: 15px;
}