#arrow {
    border: 1px solid #9ecaed;
    background-color: greenyellow;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, 0);
    /*background-image: url("../images/arrow1.png");*/
    background-size: auto;
    z-index: 1;
    
} 

.text-shadow {
    margin: auto;
}
#timer {
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    height: 5px;
    width: 85%;
    margin: auto;
    
    

}
#time {
    
}

#blue {
    position: relative;
    right: -1500px;
}
#dark {
    position: relative;
    left: -500px;
}
#multi {
    position: relative;
    right: -500px;
}
#neon {
    position: relative;
    right: -1500px;
}
#rules { 
    color: rgb(255, 252, 64);
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
img {
    margin-bottom: 5px;

}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
}

.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.jemJunk {
    border: 2px solid #dadada;
    border-radius: 7px;
    background-color:#fff;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    margin: 15px 0px 15px 0px;
    text-shadow:
		-1px -1px 0 #9ecaed,
		1px -1px 0 #9ecaed,
		-1px 1px 0 #9ecaed,
        1px 1px 0 #9ecaed;
}

#grad {
    background-image: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet);
    height: 1080px;
  
}
body {
    padding-bottom: 90px;
}
@media only screen and (max-width: 500px) {
    .jemJunk {
      margin-left: 0px;
      margin-right: 0px;
    }
    #arrow {
        top: -250px;
    }
    
    #grad {
        height: 1080px;
    }
  /*  #timer {
        background-color: red;
        border: 2px solid black;
        height: 480px;
        width: 5px;
        position: fixed;
        right: 10px;
        top: 160px;
    }
    #time {
        position: fixed;
        right: 10px;
        top: 350px;
        transform: rotate(90deg);
    }*/
  }